body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,  sans-serif;
    background-color: #F5F5DC;
    color: #3b2f2f;
    line-height: 1.6;
}
header{
    background-color: #8B4513;
    padding: 15PX 40PX;

}
nav ul{
    display: flex;
    list-style: none;
    gap: 25PX;
    justify-content: center;

}
nav ul li a{
    color: #F5F5DC;
    text-decoration: none;
    font-weight: bold;
    padding: 8PX 12PX;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;

}
nav ul li a:hover{
    background-color: #DAA520;
    transform: scale(1.05);
    color: #3b2f2f;
}
main{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit) minmax(250px, 1fr);
    gap: 30px;
}
.card{
    background-color: #fff;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shAdaw 0.3s ease;
}
.card:hover{
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}
.card h3{
    font-family: Georgia,  serif;
    color: #8B4513;
    margin-bottom: 10px;
}
.card p{
    font-size: 0.95rem;
}
video{
    width: 100%;
    border-radius: 12px;
    box-shadow: 0 8px 16pX rgba(0, 0, 0, 0.2);
}
.featured{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    background: linear-gradient(135deg, #DAA520, #8B4513);
    color: #FFF;
    padding: 40px;
    border-radius: 12px;
    flex: 1;
}
.featured h2{
    font-family: Georgia, serif;
    font-size: 2rem;
    margin-bottom: 15px;
  
}
.featured ul{
    list-style: square;
    padding-left: 20px;
}
.hotal{
    width: 300PX;
}
.submit,h2,textarea, input{
    max-width: 600PX;
    margin: auto;
    display: grid;
    gap: 20px;
}
.submit ,h2,textarea,input{
    padding: 12px;
    border-radius: 8px;
    border: 2px solid #8B4513;
    font-size: 1rem;
    transition: border-color 0.3s ease, box-shadaw 0.3s ease ;

}
.submit,h2,input,textarea:focus{
    outline: none;
    border-color: #DAA520;
    box-shadow: 0 0 8px rgba(218, 165, 32, 0.6);
}

footer{
    background-color: #3b2f2f;
    color: #F5F5DC;
    text-align: center;
    padding: 20px;
    border-top: 3px solid #DAA520;
}
@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes slideUp{
    from{transform: translateY(30px); opacity: 0;}
    to{transform: translateY(0);opacity: 1;}
}
.card .featured video{
    animation: fadeIn 1s ease;
}
@media{
    (max-width: 768px;)

nav ul{
    flex-direction: column;
    gap: 12px;
}
.featured{
    flex-direction: column;
}
}
